body {
    font-family: Arial, sans-serif;
    transition: background-color 0.3s ease-out;
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
  }
  
  .light-mode {
    background-color: #ffffff;
    color: #000000;
  }
  .dark-mode {
    background-color: #333333;
    color: #ffffff;
  }
  .checklist,
  .end-section {
    list-style-type: none;
    padding-left: 20px;
    width: 45%;
  }
  .checklist li,
  .end-section li {
    margin: 10px 0;
    display: flex;
    align-items: center;
  }
  .checklist li input,
  .end-section li input {
    margin-right: 10px;
  }
  
  .end-section {
    font-size: 1.2em;
    font-weight: bold;
  }
  .header img {
    width: 900px;
    padding-top: 30px;
  }
  button {
    background-color: #4caf50;
    border-radius: 9px;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    cursor: pointer;
    transition-duration: 0.4s;
    width: 180px;
    height: 55px;
    margin: 5px;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  #banner {
    position: absolute;
    left: 25%; 
    top: 30%; 
    transform: rotate(-10deg); 
    text-align: center;
  }
  
  #banner img {
    width: 320px; 
    height: 64px;
  }